{% extends 'base.html' %}
{% block conteudo %}

<div id="main-content">
      <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;'>Line Chart Straight</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 border border-primary rounded-2" id="linechart_straight"></div>
    <div class="col-2"></div>
  </div>
         
  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Line Chart Smooth</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2" id="linechart_smooth"></div>
    <div class="col-2"> </div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Line Chart Stepline</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2" id="linechart_stepline"></div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Line Chart with Data Labels</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2" id="linechart_line_data_labels"></div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Zoomable Timeseries</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2" id="zoomable_timeseries"></div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Line Chart with annotations</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2" id="linechart_annotations"></div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Synchronized charts</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2">
      <p id="sync_chart"></p>
      <p id="chart-line2"></p>
      <p id="chart-area"></p>
    </div>
    <div class="col-2"></div>
  </div>



  <div class="row row-cols-3">
    <div class="col-2"></div>
    
    <div class="col-8 p-5 border border-primary rounded-2">
      <div class="row row-cols-3">
        <div class="col-5 ">
          <p id="chart-small"></p>
        </div>
        
        <div class="col-2">
        </div>
      
        <div class="col-5 ">
          <p id="chart-small2"></p> 
        </div>

      </div>
 
    </div>
    
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Brush Chart</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2">
      <p id="brush_chart"></p>
      <p id="brush_chart2"></p>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Gradient Line</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2" id="gradient_line"></div>
    <div class="col-2"></div>
  </div>


  <div class="row row-cols-3">
    <div class="col-2"></div>
      <div class="col-8">
        <h1 style = 'margin-left:10px;margin-bottom:20px;margin-top: 100px;'>Real Time Line Chart</h1>
      </div>
    <div class="col-2"></div>
  </div>

  <div class="row row-cols-3">
    <div class="col-2"></div>
    <div class="col-8 p-5 border border-primary rounded-2" id="real_time_line"></div>
    <div class="col-2"></div>
  </div>








         
</div>
{% endblock conteudo %}